<html>
  <head>
    <style></style>
  </head>
  <body>
    <p>Hi Admin</p>
    <p>A demo has been requested.</p>
    <p> Here are the details of the request:</p>
    <p>{{firstname}},{{lastname}}</p>
    <p>{{email}}</p>
    <p>{{companyName}}</p>,
    <p>Purpose of Engagement: {{engagementType}}</p>
  </body>
</html>